.todo-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #aaa solid;

  &__close {
    margin-left: 10px;
    cursor: pointer;
  }

  &__add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;

    a {
      border: 1px #666 solid;
      margin-top: 5px;
      border-radius: 5px;
      padding: 5px;
    }
  }
}