<!--
slot - специальный тэг
для переплетения шаблонов.
если slot именованый (имеет директиву name),
то он заменится переданным тэгом со slot="name".
если не именованый, то заменится переданным тэгом
без указания slot="name".
если безымянных слотов несколько -
отработает только первый, остальные отбросятся.
 -->
<div class="slot-component">
  <header>
    <slot name="header">
      Хэдер не определён
    </slot>
  </header>
  <main>
    <slot text="text123132">
      В main ничего не передано
    </slot>
  </main>
  <main>
    <slot>
      Во второй main ничего не передано
    </slot>
  </main>
  <footer>
    <slot name="footer">
      Футтер не определён
    </slot>
  </footer>
</div>