<div class="index" v-page-title="'index page'">
  <main-menu></main-menu>
  <ul class="todo-items-wrapper" v-if="seen">
    <!--
    аттрибут is нужен для
    ситуаций, когда только особый тэг
    может находиться внутри родительского.
    например, внутри ul может быть только li
    или внутри table может быть только tr.
    браузеры могут просто проигнорировать
    неправильный тэг и компонент не будет
    отображён на странице.
    так происходит потому, что сначала
    браузер должен отрендерить html,
    только затем начинает работать js
    (vue.js, соотвественно тоже)
    -->
    <li is="todo-item"
        v-for="(item, index) in todos"
        :text="item.text"
        :key="`${index}`">
    </li>
  </ul>
  <!--
  <just-title :seen="seen"></just-title>
  -->
  <div class="todo-item__add">
    <input
      v-model="newTodo"
      @keyup.enter="addTodo()"
      placeholder="Что нужно сделать"
    />
    <a href="#test" @click.prevent="addTodo()">Добавить</a>
  </div>

  <test-mixin-first></test-mixin-first>
  <test-mixin-second></test-mixin-second>

  <audio controls v-console-fired-event="'play'">
    <source src="audio/guitar_train_spark.mp3" type="audio/mp3" />
  </audio>

  <div class="component-slot-parent">
    <h1>Заголовок компонента-родителя</h1>
    <slot-component>
      <h1 slot="header">Переданный заголовок</h1>
      <!--
      директиву slot-scope можно писать в любом тэге,
      но тэг template автоматически распахнётся.
      slot-scope - это slot с изолированным пространством,
      чтобы в него что-то передать - указываем переданные
      значения в slot, в компоненте где он определяется.
       -->
      <template slot-scope="props">
        <span>{{props.text}}</span>
      </template>
      <p slot="footer">Подвальчик</p>
    </slot-component>
  </div>
</div>