<div class="index">
  <ul class="todo-items-wrapper" v-if="seen">
    <!--
    аттрибут is нужен для
    ситуаций, когда только особый тэг
    может находиться внутри родительского.
    например, внутри ul может быть только li
    или внутри table может быть только tr.
    браузеры могут просто проигнорировать
    неправильный тэг и компонент не будет
    отображён на странице.
    так происходит потому, что сначала
    браузер должен отрендерить html,
    только затем начинает работать js
    (vue.js, соотвественно тоже)
    -->
    <li is="todo-item"
        v-for="(item, index) in todos"
        :text="item.text"
        :key="`${index}`">
    </li>
  </ul>
  <!--
  <just-title :seen="seen"></just-title>
  -->
  <input
    v-model="newTodo"
    @keyup.enter="addTodo()"
    placeholder="Добавить новую todo"
  />
</div>